# node
node_modules

#svelte
/build
/.svelte-kit
/package

#pocketbase
/pb_data
/pb_migrations

# environment
.env
.env.*
!.env.example

# deploy
.vercel
.output

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Mac OS
.DS_Store
__MACOSX
