@import '@fontsource/fira-mono';

* {
	box-sizing: border-box;
}

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-light: rgb(250, 250, 250);
	--color-bg-dark: gray;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: #f4f4ed;
	--color-bg-2: #d3d3ba;
	--color-theme-1: #a348e9;
	--color-theme-2: #4075a6;
	--color-text: #323336;
	--color-accent: #a348e9;
	--color-accent-subtle: #e9ecef;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	font-size: 16px;
	color: var(--color-text);
}

@media (min-width: 720px) {
	:root {
		font-size: 22px;
	}
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg-light);
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p,
label {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	padding: 0;
	margin: 0;
}

input {
	display: inline-block;
	border: var(--color-accent-subtle) 1px solid;
	border-radius: 3px;
	padding: 0.5em 1em;
	margin: 0;
}

input:focus-visible {
	outline: var(--color-accent) solid 1px;
	outline: -webkit-focus-ring-color solid 1px;
}

@supports not selector(:focus-visible) {
	input:focus {
		outline: var(--color-accent) solid 1px;
		outline: -webkit-focus-ring-color solid 1px;
	}
}

button:focus:not(:focus-visible) {
	outline: none;
}

table {
	border-collapse: collapse;
	width: 100%;
	font-size: 0.8em;
}

th,
td {
	border: 1px solid var(--color-bg-0);
	padding: 0.5em;
}

th {
	background-color: var(--color-bg-1);
	text-align: left;
}

td {
	background-color: var(--color-bg-light);
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
