[Unit]
Description = pocketbase

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/mitch/projects/workstand/pb/errors.log
StandardError  = append:/mitch/projects/workstand/pb/errors.log
ExecStart      = /mitch/projects/workstand/pb/pocketbase serve

[Install]
WantedBy = multi-user.target