[Unit]
Description = pocketbase

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/home/mitch/projects/workstand/pb/logs/access.log
StandardError  = append:/home/mitch/projects/workstand/pb/logs/errors.log
ExecStart      = /home/mitch/projects/workstand/pb/pocketbase serve

[Install]
WantedBy = multi-user.target