@import '@fontsource/fira-mono';

* {
	box-sizing: border-box;
}

:root {
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--color-bg-lighter: rgb(240, 241, 246);
	--color-bg-light: rgb(202, 216, 228);
	--color-bg-med: rgb(132, 165, 197);
	--color-bg-dark: rgb(36, 46, 66);
	--border-radius: 6px;
	--button-height-shop: 50px;
	--button-height-admin: 44px;
	--max-width-main: 48rem;
	--max-width-sm: 36rem;

	font-size: var(--font-size);
	font-family: var(--font-body);
	color: var(--color-text);
}

@media (min-width: 720px) {
	:root {
		font-size: calc(var(--font-size) + 6px);
	}
}

body {
	min-height: 100dvh;
	margin: 0;
	background-color: var(--color-bg-light);
	background-size: 100dvw 100dvh;
}

h1,
h2,
p {
	font-weight: 400;
}

p,
label {
	line-height: 1.5;
}

a {
	color: rgb(var(--color-primary));
	text-decoration: none;
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 2rem;
	text-align: center;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: var(--border-radius, 4px);
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	display: inline-block;
	border: var(--color-accent-subtle) 1px solid;
	border-radius: var(--border-radius, 3px);
	padding: 0.5em 1em;
	margin: 0;
}

input[type='search']::-webkit-search-cancel-button {
	/* Remove default */
	-webkit-appearance: none;

	/* Now your own custom styles */
	height: 14px;
	width: 14px;
	display: block;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
	/* icon size */
	background-size: 14px;
}

select {
	padding: 0.5em 0.7em;
}

input:focus-visible {
	outline: var(--color-accent) solid 1px;
	outline: -webkit-focus-ring-color solid 1px;
}

@supports not selector(:focus-visible) {
	input:focus {
		outline: var(--color-accent) solid 1px;
		outline: -webkit-focus-ring-color solid 1px;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
	width: 100%;
	font-size: 0.8em;
}

th,
td {
	border: 1px solid var(--color-accent-subtle);
	padding: 0.5em;
}

th {
	color: var(--color-accent-subtle);
	background-color: var(--color-bg-med);
	text-align: left;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/* Buttons */
button,
a:where(.btn) {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius, 6px);
	padding: 0 1rem;
	margin: auto 0.2rem;
	min-height: var(--button-height-shop);
	text-shadow: 0 1px 0 var(--color-bg-dark);
	border: 0 solid transparent;
	outline-color: var(--color-accent);
	outline-offset: -5px;
	outline-width: 2px;
	outline-style: none;
	color: inherit;

	touch-action: manipulation;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;

	&:active {
		transform: translate(1px, 1px);
	}
}

a.btn {
	text-decoration: none;
}

button:focus-visible,
a.btn:focus-visible {
	outline-style: dashed;
}

button:focus:not(:focus-visible),
a.btn:focus:not(:focus-visible) {
	outline: none;
}

button:has(.icon),
a.btn:has(.icon) {
	justify-content: space-between;

	&::after {
		content: '';
	}
}

button > .icon,
a.btn > .icon {
	display: inline-block;
	line-height: 0.5;
}

.btn-primary,
button.primary {
	background-color: hsl(from rgb(var(--color-primary)) h s l / 0.8);
	color: var(--color-accent-subtle);
	outline-color: var(--color-accent-subtle);

	@media (hover: hover) {
		&:hover {
			background-color: rgb(var(--color-primary));
		}
	}

	&:active {
		background-color: hsl(from rgb(var(--color-primary)) h s 40% / 1);
	}
}

.btn-secondary,
button.secondary {
	background-color: hsl(from rgb(var(--color-secondary)) h s l / 0.8);
	color: var(--color-accent-subtle);
	outline-color: var(--color-accent-subtle);

	@media (hover: hover) {
		&:hover {
			background-color: rgb(var(--color-secondary));
		}
	}

	&:active {
		background-color: hsl(from rgb(var(--color-secondary)) h s 40% / 1);
	}
}

.btn-neutral,
button.neutral {
	background-color: rgb(var(--color-neutral));
	color: var(--color-text);

	@media (hover: hover) {
		&:hover {
			background-color: hsl(from rgb(var(--color-neutral)) h s 100% / 1);
		}
	}

	&:active {
		background-color: hsl(from rgb(var(--color-neutral)) h s 100% / 1);
	}
}

button[disabled],
button.unavailable {
	background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
	color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
	border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
	outline-color: var(--color-accent);
	text-shadow: 0 1px 0 hsl(from var(--color-bg-light) h s l / 0.3);
	@media (hover: hover) {
		&:hover {
			background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
		}
	}
}

button[disabled] {
	cursor: default;
}

@media (hover: hover) {
	button.unavailable:hover {
		background-color: rgba(249, 249, 249, 0.5);
	}
}

.btn-link,
button.link {
	appearance: unset;
	background-color: transparent;
	border: none;
	color: rgb(var(--color-primary));
	text-shadow: 0 0 transparent;
	padding: 0;
	min-height: 40px;
	line-height: 1.2;
}

button[data-loading='true'] {
	pointer-events: none;
	animation: fadeInAndOut 1s infinite alternate ease-in-out;
}

@keyframes fadeInAndOut {
	from {
		filter: brightness(100%);
	}
	to {
		filter: brightness(75%);
	}
}

.button-group {
	display: flex;
	gap: 1px;
}

.button-group > button {
	flex: 1;
	margin: 0;
}

.button-group button:not(:last-child):not(:first-child) {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}

.button-group button:last-child {
	border-radius: 0 var(--border-radius, 6px) var(--border-radius, 6px) 0;
}

.button-group button:first-child {
	border-radius: var(--border-radius, 6px) 0 0 var(--border-radius, 6px);
}
