@import '@fontsource/fira-mono';

* {
	box-sizing: border-box;
}

/* These styles are changed to change the theme */
:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--color-primary: 64, 117, 166; /* #4075a6; */
	--color-secondary: 64, 117, 166; /* #40A6A4; */
	--color-neutral: 250, 250, 250;
	--color-bg-lighter: rgb(240, 241, 246);
	--color-bg-light: rgb(202, 216, 228);
	--color-bg-med: rgb(132, 165, 197);
	--color-bg-dark: rgb(36, 46, 66);
	--color-text: #323336;
	--color-text-light: #dde9f8;
	--color-accent: #a348e9;
	--color-accent-subtle: #e9ecef;
	--color-accent-med: rgb(132, 165, 197);
	--border-radius: 4px;
	font-family: var(--font-body);
	font-size: 16px;
	color: var(--color-text);
}

.btn {
	border-radius: var(--border-radius, 4px);
	padding: 0px 10px;
	margin: 0px 5px;
}

.btn-primary {
	background-color: rgb(var(--color-primary), 0.8);
	color: var(--color-accent-subtle);
}

.btn-secondary {
	background-color: rgb(var(--color-secondary), 0.6);
	color: var(--color-accent);
}

.btn-neutral {
	background-color: rgb(var(--color-neutral));
	color: var(--color-text);
}

@media (min-width: 720px) {
	:root {
		font-size: 22px;
	}
}

body {
	min-height: 100dvh;
	margin: 0;
	background-color: var(--color-bg-light);
	background-size: 100dvw 100dvh;
}

h1,
h2,
p {
	font-weight: 400;
}

p,
label {
	line-height: 1.5;
}

a {
	color: rgb(var(--color-primary));
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: var(--border-radius, 4px);
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	padding: 0;
	margin: 0;
}

input {
	display: inline-block;
	border: var(--color-accent-subtle) 1px solid;
	border-radius: var(--border-radius, 3px);
	padding: 0.5em 1em;
	margin: 0;
}

input:focus-visible {
	outline: var(--color-accent) solid 1px;
	outline: -webkit-focus-ring-color solid 1px;
}

@supports not selector(:focus-visible) {
	input:focus {
		outline: var(--color-accent) solid 1px;
		outline: -webkit-focus-ring-color solid 1px;
	}
}

button:focus:not(:focus-visible) {
	outline: none;
}

button {
	color: inherit;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
	width: 100%;
	font-size: 0.8em;
}

th,
td {
	border: 1px solid var(--color-accent-subtle);
	padding: 0.5em;
}

th {
	color: var(--color-accent-subtle);
	background-color: var(--color-bg-med);
	text-align: left;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
